@use "../utility/colors" as *;
.primary__btn {
  margin-top: 1.2rem;
  padding: 1.3rem 2.3rem;
  background-color: transparent;
  outline: none;
  border: 1.5px solid #000;
  transition: border 150ms ease-out;
  &:hover {
    border: 1.5px solid $fontColor;
  }
  a {
    color: $fontColor;
    transition: color 150ms ease-out;
    &:hover {
      color: #000;
    }
  }
}
