@use "../utility/mixins" as *;
.instagram {
  background-color: #f3f3f3;
  padding: 4rem;
  h4 {
    text-align: center;
    padding: 3rem 0;
  }
  .cards {
    @include grid();
    padding: 2rem 0;
    .card {
      grid-column: span 3;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  @include media(sm) {
    padding: 2rem;
    .cards {
      .card {
        grid-column: span 6;
      }
    }
  }
  @include media(md) {
    padding: 3rem 2.5rem;
    .cards {
      .card {
        grid-column: span 6;
      }
    }
  }
}
