//font-family
$main__font: 'poppins', sans-serif;

//font size according to typescale third perfect
$xxxlr: 8.911rem;
$xxlr: 7.31rem;
$sbtl: 5.06rem;
$xlr: 3.725rem;
$lr: 2.574rem;
$md: 2.033rem;
$p: 1.65rem;
$sm: 1.4rem;
